[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
	update = merge
[submodule "extern/Eigen3"]
	path = extern/Eigen3
	url = https://github.com/eigenteam/eigen-git-mirror.git
	branch = master
	update = merge
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
	update = merge
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
	update = rebase
[submodule "extern/mnist"]
	path = extern/mnist
	url = https://github.com/wichtounet/mnist.git
	branch = master
	update = merge